body {
  margin: 0;
  height: 100vh;
}

#root,
.app-wrapper {
  display: inline-flex;
  height: 100%;
  width: 100%;
}

/* Side Nav */
.sidenav-wrapper {
  display: inline-block;
  height: 100%;
  width: 25%;
}

.notes-wrapper {
  height: 100vh;
  overflow: auto;
}

.sidenav-note-button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  height: 19%;
  text-align: left;
  padding-left: 16px;
}

.sidenav-note {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: hidden;
}

.sidenav-note.title {
  font-size: 1.1em;
  height: 20%;
  white-space: nowrap;
}

.sidenav-note.body {
  height: 55%;
  padding: 0;
  hyphens: auto;
}

.sidenav-note.date {
  height: 25%;
  vertical-align: text-bottom;
  padding-bottom: 0px;
  padding-top: 20px;
  font-size: 0.9em;
}

/* Note Header */
.note-wrapper {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 75%;
}

.note-header {
  padding: 16px;
  height: 5%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
  border-bottom-width: 1px;
}

.note-header-delete-button {
  cursor: pointer;
  top: 0;
  right: 0;
  margin-right: 16px;
  scale: 1.1;
  border: 0;
  vertical-align: middle;
  border-radius: 12px;
}

/* Note */
.note {
  padding: 30px;
  height: 80%;
}

.note-text {
  border-width: 0;
  border-bottom-width: 0.1px;
  width: 90%;
  margin: 10px;
}

.note-text.title {
  font-size: 2.5em;
}

.note-text.body {
  font-size: 1.3em;
  margin-top: 40px;
}

.note-footer {
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
}

/* New Note */
.newnote-button {
  position: relative;
  cursor: pointer;
  scale: 1.3;
  height: 75%;
  left: 48%;
  border: 0;
  border-radius: 12px;
}

.newnote-button-text {
  margin-left: 5px;
}
